@import "../../styles/variables";

.profileHeaderPaper {
  padding: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.imgWrapper {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}

.profileHeaderUsername {
  font-size: 18px;
  margin: 6px 0;
}

.profileUserCardPaper {
  padding: 0.7em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameWrapper {
  display: flex;
  align-items: center;
}

.username {
  margin-left: 1em;
}

.followedSection {
  display: flex;
  align-items: center;
  color: $success-color;
}
