// extra small screen size
$xs: 0px;

// small screen
$sm: 600px;

// medium screen
$md: 900px;

// large screen
$lg: 1200px;

// extra large screen
$xl: 1536px;

// Primary main color
$primary-color: #1976d2;
